body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

main > p {
  width: 900px;
}

main > span {
  align-items: center;
  padding-bottom: 20px;
}

#login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(204, 204, 204);
  padding:2px;
  height: auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(245, 245, 245);
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  margin-top: 100px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

#name #pass {
  display: flex;
  width: 10px !important;
}

input {
  display: flex;
  width: 250px !important;
}

button {
  width: 250px;
  height: 35px;
  margin: 20px !important;
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(196, 196, 196);
  color: white;
}

#register {float: left;}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  /* display: flex !important;
  flex: 0 30px;
  flex-direction: row !important;
  align-items: center;
  list-style: none;
  flex-wrap: nowrap; */


menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
